{% load static %}

<!DOCTYPE html>

<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Mapa</title>
  <style>
    html, body { height:100%; margin:0; }
    body {
      background: url("{% static 'mapa_gibralta.jpg' %}") center/cover no-repeat;
    }
    .ponto {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid white;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
    .nao-explorado { background: crimson; }
    .explorado { background: green; }
  </style>
</head>
<body>
  <form method="POST" style="position:absolute; top:12%; left:50%;">
    {% csrf_token %}
    <input type="hidden" name="id_do_local" value="1">
    <button type="submit" class="ponto {% if 1 in explorados %}explorado{% else %}nao-explorado{% endif %}"></button>
  </form>


  <form method="POST" style="position:absolute; top:20%; left:90%;">
    {% csrf_token %}
    <input type="hidden" name="id_do_local" value="2">
    <button type="submit" class="ponto {% if 2 in explorados %}explorado{% else %}nao-explorado{% endif %}"></button>
  </form>


  <form method="POST" style="position:absolute; top:40%; left:20%;">
    {% csrf_token %}
    <input type="hidden" name="id_do_local" value="3">
    <button type="submit" class="ponto {% if 3 in explorados %}explorado{% else %}nao-explorado{% endif %}"></button>
  </form>


  <form method="POST" style="position:absolute; top:50%; left:87%;">
    {% csrf_token %}
    <input type="hidden" name="id_do_local" value="4">
    <button type="submit" class="ponto {% if 4 in explorados %}explorado{% else %}nao-explorado{% endif %}"></button>
  </form>


  <form method="POST" style="position:absolute; top:65%; left:45%;">
    {% csrf_token %}
    <input type="hidden" name="id_do_local" value="5">
    <button type="submit" class="ponto {% if 5 in explorados %}explorado{% else %}nao-explorado{% endif %}"></button>
  </form>


  <form method="POST" style="position:absolute; top:70%; left:15%;">
    {% csrf_token %}
    <input type="hidden" name="id_do_local" value="6">
    <button type="submit" class="ponto {% if 6 in explorados %}explorado{% else %}nao-explorado{% endif %}"></button>
  </form>


  <form method="POST" style="position:absolute; top:80%; left:30%;">
    {% csrf_token %}
    <input type="hidden" name="id_do_local" value="7">
    <button type="submit" class="ponto {% if 7 in explorados %}explorado{% else %}nao-explorado{% endif %}"></button>
  </form>


  <form method="POST" style="position:absolute; top:35%; left:85%;">
    {% csrf_token %}
    <input type="hidden" name="id_do_local" value="8">
    <button type="submit" class="ponto {% if 8 in explorados %}explorado{% else %}nao-explorado{% endif %}"></button>
  </form>


  <form method="POST" style="position:absolute; top:30%; left:60%;">
    {% csrf_token %}
    <input type="hidden" name="id_do_local" value="9">
    <button type="submit" class="ponto {% if 9 in explorados %}explorado{% else %}nao-explorado{% endif %}"></button>
  </form>

  <form method="POST" style="position:absolute; top:80%; left:87%;">
    {% csrf_token %}
    <input type="hidden" name="id_do_local" value="10">
    <button type="submit" class="ponto {% if 10 in explorados %}explorado{% else %}nao-explorado{% endif %}"></button>
  </form>
</body>
</html>